# Common DEGs between Chronic Heart Failure and Covid Patients

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_chf_down = pd.read_excel('chronicHeartFailureDEG.xlsx',sheet_name='downRegulated')

In [3]:
df_chf_down.head(2)

,Unnamed: 0,ID,adj.P.Val,P.Value,t,B,logFC,GENE_SYMBOL,SPOT_ID,absolute_logFC
0,0,11692,0.0743,0.000016,-5.730040,3.1130,-1.179686,BCOR,NaN,1.179686
1,1,3373,0.0743,0.000023,-5.675054,2.8207,-1.268270,CYorf15A,NaN,1.268270

In [4]:
df_chf_down.shape

(1172, 10)

In [5]:
df_chf_up = pd.read_excel('chronicHeartFailureDEG.xlsx',sheet_name='upRegulated')

In [6]:
df_chf_up.head(2)

,Unnamed: 0,ID,adj.P.Val,P.Value,t,B,logFC,GENE_SYMBOL,SPOT_ID,absolute_logFC
0,0,21007,0.0743,0.000039,5.515942,2.3381,1.878732,FLJ36180,NaN,1.878732
1,1,10953,0.0743,0.000047,6.866839,1.3876,4.760215,PP3856,NaN,4.760215

In [7]:
df_chf_up.shape

(228, 10)

In [8]:
df_covid_down = pd.read_excel('covidDEGs.xlsx',sheet_name='downRegulated')

In [9]:
df_covid_down.head(2)

,Unnamed: 0,index,Gid,GENE_SYMBOL,CPM-N1,CPM-N2,CPM-N3,CPM-P1,CPM-P2,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,0,0,ENSG00000134184.13,GSTM1,7.34,4.62,6.22,0.07,0.21,0.21,290.84,-5.01,5.01,0.36,-13.82,1.920000e-43,5.440000e-39,38.264401,Down
1,1,2,ENSG00000233392.5,AC104809,13.87,5.25,11.97,0.02,0.26,0.09,462.90,-6.13,6.13,0.60,-10.27,9.900000e-25,9.360000e-21,20.028724,Down

In [10]:
df_covid_down.shape

(599, 19)

In [11]:
df_covid_up = pd.read_excel('covidDEGs.xlsx',sheet_name='upRegulated')

In [12]:
df_covid_up.head(2)

,Unnamed: 0,index,Gid,GENE_SYMBOL,CPM-N1,CPM-N2,CPM-N3,CPM-P1,CPM-P2,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,0,1,ENSG00000211934.3,IGHV1,0.46,0.25,0.36,5.14,20.56,63.93,1361.64,6.36,6.36,0.60,10.51,7.580000e-26,1.070000e-21,20.970616,Up
1,1,3,ENSG00000198848.12,CES1,3.84,0.83,4.96,185.00,76.06,398.24,12508.37,6.53,6.53,0.65,10.12,4.690000e-24,3.330000e-20,19.477556,Up

In [13]:
df_covid_up.shape

(1146, 19)

In [14]:
df_chf_covid_down = pd.merge(df_chf_down,df_covid_down,how='inner',left_on='GENE_SYMBOL',right_on='GENE_SYMBOL')

In [15]:
df_chf_covid_up = pd.merge(df_chf_up,df_covid_up,how='inner',left_on='GENE_SYMBOL',right_on='GENE_SYMBOL')

In [16]:
df_chf_covid_down

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,GENE_SYMBOL,SPOT_ID,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,320,11809,0.2311,0.007541,-3.348064,-2.2055,-2.540844,SPOCK2,NaN,2.540844,...,110.16,24364.22,-1.58,1.58,0.48,-3.28,1.030000e-03,1.660000e-02,1.779892,NC
1,433,15817,0.2391,0.008627,-2.949685,-2.5868,-1.436294,PTGS2,NaN,1.436294,...,6.65,5651.40,-3.01,3.01,0.77,-3.89,9.900000e-05,3.000000e-03,2.522879,Down
2,585,4995,0.2634,0.014878,-2.779675,-2.9330,-1.725202,KIR3DL1,NaN,1.725202,...,2.37,413.88,-2.40,2.40,0.45,-5.37,7.790000e-08,9.530000e-06,5.020907,Down
3,641,5417,0.2617,0.014140,-2.703726,-3.0598,-1.142319,ABCB1,NaN,1.142319,...,13.03,1250.00,-1.03,1.03,0.29,-3.51,4.400000e-04,9.090000e-03,2.041436,Down
4,678,11684,0.2713,0.017523,-2.671951,-3.1203,-1.100838,CCL4,NaN,1.100838,...,8.77,1992.68,-2.06,2.06,0.47,-4.38,1.180000e-05,5.740000e-04,3.241088,Down
5,756,23526,0.2806,0.020109,-2.566610,-3.3135,-1.156064,C1orf21,NaN,1.156064,...,15.18,2276.26,-1.67,1.67,0.41,-4.05,5.040000e-05,1.810000e-03,2.742321,Down
6,855,11678,0.2954,0.024484,-2.470365,-3.4872,-1.454660,WNT7A,NaN,1.454660,...,0.31,182.84,-2.27,2.27,0.80,-2.85,4.380000e-03,4.450000e-02,1.351640,NC
7,1043,7054,0.3303,0.038124,-2.275679,-3.7798,-1.165436,MS4A2,NaN,1.165436,...,0.08,378.52,-5.55,5.55,0.81,-6.81,9.660000e-12,4.280000e-09,8.368556,Down

In [17]:
df_chf_covid_down[['GENE_SYMBOL','GENE_SYMBOL']]

  GENE_SYMBOL GENE_SYMBOL
0      SPOCK2      SPOCK2
1       PTGS2       PTGS2
2     KIR3DL1     KIR3DL1
3       ABCB1       ABCB1
4        CCL4        CCL4
5     C1orf21     C1orf21
6       WNT7A       WNT7A
7       MS4A2       MS4A2

In [19]:
df_chf_covid_up

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,GENE_SYMBOL,SPOT_ID,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,29,8806,0.1991,0.003489,3.815887,-1.8630,3.321396,IGKC,NaN,3.321396,...,2107.43,45408.41,3.33,3.33,0.64,5.24,1.600000e-07,0.000017,4.761954,Up
1,39,26196,0.2137,0.004606,4.131020,-2.1006,3.000019,ALDH4A1,NaN,3.000019,...,10.82,582.03,1.88,1.88,0.32,5.78,7.340000e-09,0.000001,5.882729,Up
2,57,8572,0.2402,0.008805,4.230434,-2.4109,2.565284,ALDH4A1,NaN,2.565284,...,10.82,582.03,1.88,1.88,0.32,5.78,7.340000e-09,0.000001,5.882729,Up
3,51,19231,0.2247,0.006480,3.060434,-2.3573,1.013583,TUBG1,NaN,1.013583,...,10.67,700.83,1.54,1.54,0.36,4.24,2.200000e-05,0.000929,3.031984,Up
4,109,15003,0.2617,0.014044,2.739777,-2.9946,1.156987,MED8,NaN,1.156987,...,19.16,1025.75,1.18,1.18,0.35,3.36,7.850000e-04,0.013500,1.869666,NC
5,131,27278,0.2678,0.016080,2.643850,-3.1744,1.075938,AP2S1,NaN,1.075938,...,64.01,4211.44,1.40,1.40,0.32,4.39,1.130000e-05,0.000552,3.258061,Up
6,155,23283,0.3222,0.033636,2.569918,-3.3870,4.276578,CTSB,NaN,4.276578,...,779.99,51931.21,2.06,2.06,0.38,5.39,7.070000e-08,0.000009,5.060980,Up
7,219,16797,0.3367,0.041491,2.196747,-3.9765,1.174708,SAP30,NaN,1.174708,...,56.97,2024.36,3.19,3.19,0.74,4.31,1.610000e-05,0.000728,3.137869,Up

In [18]:
df_chf_covid_up[['GENE_SYMBOL','GENE_SYMBOL']]

  GENE_SYMBOL GENE_SYMBOL
0        IGKC        IGKC
1     ALDH4A1     ALDH4A1
2     ALDH4A1     ALDH4A1
3       TUBG1       TUBG1
4        MED8        MED8
5       AP2S1       AP2S1
6        CTSB        CTSB
7       SAP30       SAP30

In [20]:
df_output_down = df_chf_covid_down['GENE_SYMBOL']

In [21]:
df_output_up = df_chf_covid_up['GENE_SYMBOL']

In [22]:
df_output_all = pd.merge(df_chf_covid_down,df_chf_covid_up,how='outer')

In [23]:
df_output_all.head(2)

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,GENE_SYMBOL,SPOT_ID,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,320,11809,0.2311,0.007541,-3.348064,-2.2055,-2.540844,SPOCK2,NaN,2.540844,...,110.16,24364.22,-1.58,1.58,0.48,-3.28,0.001030,0.0166,1.779892,NC
1,433,15817,0.2391,0.008627,-2.949685,-2.5868,-1.436294,PTGS2,NaN,1.436294,...,6.65,5651.40,-3.01,3.01,0.77,-3.89,0.000099,0.0030,2.522879,Down

In [24]:
df_all = df_output_all[['P.Value','logFC','GENE_SYMBOL']]

In [25]:
writer = pd.ExcelWriter('covidCHF_commonDEGs.xlsx',engine='xlsxwriter')

In [26]:
writerPvalLogfc = pd.ExcelWriter('CHF_covid_all.xlsx',engine='xlsxwriter')

In [27]:
df_output_down.to_excel(writer,sheet_name='downRegulated')

In [28]:
df_output_up.to_excel(writer,sheet_name='upRegulated')

In [29]:
df_all.to_excel(writerPvalLogfc)

In [30]:
writer.save()
writer.close()
writerPvalLogfc.save()
writerPvalLogfc.close()